.page-header.pb-10(class=pageHeaderStyle, class=pageHeaderBackground)
    .container-fluid
        .page-header-content
            h1.page-header-title
                .page-header-icon
                    i(data-feather=pageIcon)
                span #{pageTitle}
            .page-header-subtitle
                | #{pageSummary}
            if breadcrumbs

                ol.breadcrumb.mt-4.mb-0
                    li.breadcrumb-item
                        a(href='index.html') Dashboard
                    li.breadcrumb-item.active #{pageTitle}

            else
